.animalCard {
    padding: 2%;
    text-align: center;
    background: #fff;
    border-radius: 2px;
margin: 1rem;
width: 200px;
} 

.animalCard.img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: blueviolet;
}

