.card {
    padding: 2%;
    text-align: center;
    background:aqua;
    border-radius: 2px;
    margin: 1rem;
    width: 200px;
}

.card> .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: blueviolet;
}
.card > .img-container > img {
    width: 50%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 10px;
  }